@import 'node_modules/bootstrap/scss/bootstrap';

#cardContainer {

    img {
        height: 50%;
        object-fit: cover;
    }

    .cardInfo {
        overflow: hidden;

        .rounded-pill {
            font-size: 10px;
        }
    }
}